<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= questionTitle %></h3>
  </div>
  <div class="card-block">
    <div class="card-body col-md-12">
      <div class="btn-group-vertical" data-toggle="buttons">
      <% answers.each_with_index do |a, aindex| %>
          <%= render partial: 'question-answer', :locals => {:answer => a, :question_id => qid, :answerTitle => a.answer_title, :answerIndex => aindex} %>
      <% end %>
      </div>
    </div>
  </div>
</div>
