<div>
  <h4>
    Question <%= position %>: <%= questionTitle %>
  </h4>
  <ul>
    <% answers.each_with_index do |a, aindex| %>
      <%= render partial: 'question-answer', :locals => {:questId => qid, :answerTitle => a.answer_title, :answerIndex => aindex} %>
    <% end %>
  </ul>
  <hr />

</div>
