<h1>The Survey</h1>

<% @questionList.each_with_index do |q, qestindex| %>
  <%= render partial: 'question', :locals => {:questionTitle => q.title, :qindex => qestindex} %>
<% end %>

<a href="/">Back to the homepage</a>
