<h4>Create a question</h4>
<%= javascript_include_tag 'manageSurvey' %>
<form action="/survey/manage" method="post" id="newQuestion">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="question">Enter a question</label>
  <input type="text" name="question" />
  <hr />
  <p>Now add some possible answers. You can have one to four answers.</p>
  <label for="answer1">Answer 1:</label>
  <input type="text" name="answer1" />
  <br />
  <label for="answer2">Answer 2:</label>
  <input type="text" name="answer2" />
  <br />
  <label for="answer3">Answer 3:</label>
  <input type="text" name="answer3" />
  <br />
  <label for="answer4">Answer 4:</label>
  <input type="text" name="answer4" />
  <br/>
  <p>Where should this question appear in the survey?
  Currently there are <%= @questionNum %> questions in the survey. The position
  you specify will determine the position of the question within the survey.
  For example, if you were to enter "3", this new question would appear as
  the third question in the survey. Specifying a number greater than the
  current number of questions in the survey (<%= @questionNum %>) will put it
  at the end of the survey. If this field is left blank, the question will be
  inserted at the end of the survey.</p>
  <label for="position">Position:</label>
  <input type="number" name="position" />
  <br />

  <button type="button" id="submitNewQuestion" onclick="submitQuestion()">Submit</button>
</form>
