<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Nickname</th>
          <th>Keywords</th>
          <th></th>
        </thead>
        <tbody>
          <% @rsos.each do |r| %>
            <%= render partial: "rso", :locals => {:r => r} %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
