<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <th width=40%>Name</th>
          <th width=50%>Nickname</th>
          <th width=5%>Keywords</th>
          <th width=5%></th>
        </thead>
        <tbody>
          <% @rsos.each do |r| %>
            <%= render partial: "rso", :locals => {:r => r} %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
