<div class="row">
  <div class="col-md-12">
    <h3>Registered Organizations</h3>
    <p>These are the organizations currently registered for matching.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
      <table class="table">
        <thead class="table-danger">
          <th width=30%>Name</th>
          <th width=30%>Nickname</th>
          <th width=30%>Website</th>
          <th width=5%>Keywords</th>
          <th width=5%></th>
        </thead>
        <tbody class="table-striped table-hover">
          <% @rsos.each do |r| %>
            <%= render partial: "rso", :locals => {:r => r} %>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
