<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">RSO Survey</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/survey/manage">Manage Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rso/manage">Manage RSOs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/manage">Manage Admins</a>
      </li>
    </ul>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/survey">Take the Survey</a>
  </div>
</nav>
